# Python junk
__pycache__/
*.pyc

# Fortran junk
*.mod
*.smod
*.o
*.obj

# Ignore everything in the outputs directory
outputs/*

# ...but do NOT ignore the .gitkeep file
!outputs/.gitkeep
inputs/config.inp
inputs/wind_analytics.json
inputs/wind_rose_matrix.dat
source/moga_optimizer.exe
inputs/config.inp
