# Python junk
__pycache__/
*.pyc

# Fortran junk
*.mod
*.smod
*.o
*.obj

# Ignore everything in the outputs directory
outputs/*

# ...but do NOT ignore the .gitkeep file
!outputs/.gitkeep
inputs/config.inp
inputs/wind_analytics.json
inputs/wind_rose_matrix.dat
source/moga_optimizer.exe
inputs/config.inp

.kiro
.hypothesis
.pytest_cache
.venv
.vscode
source/.vscode/
source/__pycache__/

tests/
inputs/farm_bathymetry.dat
inputs/farm_bathymetry.dat
inputs/filtered_wind.txt
inputs/mesh_metadata.json
inputs/raw_bathymetry/gebco_2024_n30.6_s23.5_w47.0_e57.0.asc
inputs/Turbines/IEA-15-240-RWT_tabular.xlsx
